// Placeholder to allow overriding predefined variables smoothly.

$base-font-family: "Yu Gothic UI", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;

$serif-font-family: "Web Medium", Charter, "XCharter", "Noto Serif", "Roboto Slab", times, serif !default;

$code-font-family: "Recursive", "Sarasa Term J", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$base-font-size: 19px;

$header-font-family: "Yu Gothic UI", "Segoe UI", Helvetica, Arial, sans-serif !default;
$header-font-weight: 450;

$title-font-weight: 500;

$text-color: #242424;
$title-color: #181818;
$header-color: #212121;

$background-color: #FFFFFA;
$code-background-color: #F7FCFC;